@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    height: 92vh;
    width: 100%;
    overflow: hidden;
}

.section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 60%;
    height: 100%;
    background-color: #F4F6F9;
}

.section_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section_imagem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 40%;
    gap: 50px;
    background-color: #0A3158;
}

.img img {
    width: 500px;
    height: fit-content;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.text .h1 {
    font-size: 42px;
    color: #FFF;
    width: 450px;
}

.text .h4 {
    font-size: 17px;
    color: #C6D8E8;
    width: 450px;
    line-height: 1.5;
}

.section_form {
    width: 400px;
}

.section_container h3 {
    color: #0050A0;
    font-size: 30px;
}

.section_container p {
    color: #607286;
    font-size: 14px;
}

.section_container label {
    color: #0A3158;
    font-size: 15px;
}

.section_container input {
    padding: 15px;
    border: 2px solid #D7E2EC;
    outline: none;
    border-radius: 8px;
}

.section_div {
    display: flex;
    justify-content: space-between;
}

.section_div div {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #607286;
    gap: 2px;
}

.section_div a {
    font-size: 13px;
    text-decoration: none;
    color: #176BB8;
}

button {
    background-color: #FCA814;
    color: #0A3158;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-weight: bold;
    transition: 0.5s all;
    cursor: pointer;
}

button:hover {
    background-color: #0A3158;
    color: #FFF;
}

.section_p {
    text-align: center;
}

.section_a {
    font-size: 13px;
    text-decoration: none;
    color: #176BB8;
}

.section_div div span {
    color: #176BB8;
}

.section_container span {
    font-size: 13;
    color: #176BB8;
    text-align: center;
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;           
    padding: 15px 80px;
    background-color: #FFF;
    height: 8vh;
}

.navbar a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #176BB8;
}

.logo span {
    color: #F2B84F;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #0A3158;
    transition: 0.5s all;
}

.menu a:hover {
    color: #F2B84F;
}

.hr {
    border: 1px solid #D7E2EC;
}